@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #c5c4c4, #fffefe);
    min-height: 100vh;
    font-family: 'Oxanium', cursive;
}

/* --------------------------- NavBar -------------------------- */

/* NavBar */
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: auto;
}

.nav-menu li {
    position: relative;
}

.nav-menu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.nav-menu li:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    border-radius: 4px;
    border-bottom: #000000;
    z-index: 1;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid #1a1818;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #c5c4c4;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 0;
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-logo img {
    width: 60%;
}

.nav-logo {
    text-align: left;
    margin-right: 40px;
    margin-left: 10px;
}

/* --- */

/* Pesquisa */
.nav-search {
    flex: 3;
    text-align: center;
    margin-top: 1%;
}

.nav-search input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.nav-search button {
    padding: 10px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-search button:hover {
    background-color: #777;
}

/* --- */

/* ------------------------------------------------------------- */

main {
    border-radius: 13px;
    padding: 7px;
    width: 550px;
    height: 580px;
    color: #fff;
    display: inline-block;
    margin-top: 1%;
    position: relative;
}

.pokemonImage {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 60%;
}

.pokemonDados {
    position: absolute;
    font-weight: 600;
    color: #252323;
    top: 73%;
    right: 42%;
}

#cor {
    border-radius: 13px;
    padding: 0px;
    width: 545px;
    height: 575px;
    box-sizing: border-box;
    background-color: #fffefe;
    color: #fff;
    position: relative;
}

#cor2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 541px;
    height: 280px;
    box-sizing: border-box;
}

.typeImages {
    position: absolute;
    bottom: 15%;
    left: 53%;
    transform: translateX(-50%);
}

#container {
    border-radius: 13px;
    padding: 0;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    background-color: #fffefe;
    color: #000000;
    position: absolute;
    top: 57%;
    right: 45px;
    transform: translateY(-50%);
}


#NameBloco {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonNumber,
.pokemonName {
    margin: 0 5px;
}

#btnShiny {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnShiny:hover {
    background-color: #777;
}

#btnNormal {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnNormal:hover {
    background-color: #777;
}

#formas {
    margin: auto;
    margin-top: 30px;
}

#tipo {
    margin: auto;
    margin-top: 30px;
}

#listaPokemon {
    border-radius: 13px;
    padding: 0;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    background-color: #fffefe;
    color: #000000;
    position: absolute;
    top: 57%;
    left: 45px;
    transform: translateY(-50%);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

ul#pokemonList {
    list-style-type: none;
}


#pokemonList::-webkit-scrollbar {
    background-color: #F4F4F4;
    border-radius: 10px;
}

#pokemonList::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

#pokemonList::-webkit-scrollbar-thumb {
    background: #616060;
    border-radius: 10px;
}


li.pokemon-list-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #1a1818;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pokemon-image {
    width: 60px;
    height: 60px;
    margin-left: 10px;
  }
  
  .pokemon-name {
    flex: 1;
    text-align: center;
  }
  
  li.pokemon-list-item:hover {
    background-color: #c5c4c4;
    color: #fff;
    text-decoration: none;
  }
  