* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #c5c4c4, #fffefe);
    min-height: 100vh;
}

/* --------------------------- NavBar -------------------------- */

/* NavBar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* --- */

/* Logo */
.nav-logo img {
    width: 60%;
}

.nav-logo {

    text-align: left;
}

/* --- */

/* Pesquisa */
.nav-search {
    flex: 3;
    text-align: center;
}

.nav-search input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.nav-search button {
    padding: 10 px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-search button:hover {
    background-color: #777;
}

/* --- */

/* ------------------------------------------------------------- */

main {
    border-radius: 13px;
    padding: 7px;
    width: 550px;
    height: 580px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin-top: 1%;
    position: relative;
}

.pokemonImage {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 60%;
}

.pokemonDados {
    position: absolute;
    font-weight: 600;
    color: #252323;
    top: 70%;
    right: 15%;
}

#cor {
    border-radius: 13px;
    padding: 0px;
    width: 545px;
    height: 575px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: #fffefe;
    color: #fff;
    position: relative;
}

#cor2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 541px;
    height: 280px;
    box-sizing: border-box;
}

.typeImages {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    border-radius: 13px;
    padding: 0;
    width: 300px;
    height: 500px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: #fffefe;
    color: #000000;
    position: absolute;
    top: 57%;
    right: 45px;
    transform: translateY(-50%);
}

#btnShiny {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 10%;
    transform: translateX(-50%);
}

#btnShiny:hover {
    background-color: #777;
}

#btnNormal {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 20%;
    transform: translateX(-50%);
}

#btnNormal:hover {
    background-color: #777;
}